{
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "printWidth": 1024
      }
    },
    {
      "files": ["*.js", "*.vue"],
      "options": {
        "trailingComma": "all",
        "singleQuote": true
      }
    }
  ]
}
