@charset "utf-8";

[class*="c-heading"] {
  line-height: 1.4;
  color: $color_secondary;
  &._center {
    text-align: center;
  }
  &._right {
    text-align: right;
  }
  &._left {
    text-align: left;
  }
  &:first-child {
    margin-top: 0;
  }
}

.c-heading01 {
  @include fz(24);
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.c-heading02 {
  @include fz(18);
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.c-heading03 {
  @include fz(14);
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.c-heading04 {
  @include fz(22);
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.c-heading05 {
  @include fz(18);
  margin-top: 2em;
  margin-bottom: 0.5em;
}
