@charset "utf-8";

.l-pagetop {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  @include mobile {
    display: none;
  }
  .l-pagetop__link {
    display: block;
    width: 100%;
    height: 100%;
    background: $color_secondary;
  }
}
