<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body>
  <h1>foo</h1>
  <div class="l-container">

    <!-- l-header START -->
    @@include('l-header.html')
    <!-- l-header END -->

    <!-- l-gnav START -->
    @@include('l-gnav.html')
    <!-- l-gnav END -->

    <div class="l-mainVisual">l-mainVisual</div>
    <div class="l-contents">
      <div class="l-sub">l-sub</div>
      <main class="l-main">

        <p>ここにコンテンツhoge</p>

      </main>
    </div>
    <!-- l-footer START -->
    @@include('l-footer.html')
    <!-- l-footer END -->
  </div>
  @@include('javascript.html')
</body>

</html>
