body {
  margin: 0;
}

a {
  color: cornflowerblue;
}

ul {
  list-style: none;
  padding: 0;
}

.l-header {
  background: #eee;
  text-align: center;
  padding: 20px;
}
.l-header__logo {
  margin: 0;
  font-weight: normal;
  font-size: 32px;
}

.l-container {
  width: 1280px;
  margin: 0 auto;
  border: 2px solid #333;
}

.l-contents {
  display: flex;
  justify-content: space-between;
}

.l-main {
  padding: 20px;
}

.l-side {
  width: 300px;
}
.l-side .screen-reader-text {
  display: none;
}

.l-footer {
  background: #eee;
  text-align: center;
  padding: 20px;
}
.l-footer__copy {
  margin: 0;
}

#pond {
  display: flex;
  align-items :flex-end;
  justify-content:space-around;
}
