@charset "utf-8";

$color-blue:#689dbd;

// @include ov;
@mixin ov {
    opacity: 1;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

// @include ovImg;
@mixin ovImg {
    background: #fff;
    opacity: 1;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

//@include kadomaru(6px);
@mixin kadomaru($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
    -ms-border-radius: $radius;
}

//@include font-googleEN;
@mixin font-googleEN {
    font-family: "Montserrat", sans-serif;
}

//@include PCsiteWidth;
@mixin PCsiteWidth {
    margin: 0 auto;
    width: 980px;
}

//@include inputBtnM();
@mixin inputBtnM($value:170px) {
    @include ov;
    background: $color-lightBlue;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    padding: 4px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: $value;
    &:before {}
}

//@include boxSizing;
@mixin boxSizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
}

//SP ★
//@include SPsiteWidth;
@mixin SPsiteWidth {
    @include boxSizing;
    width: 100%;
}