@charset "utf-8";

//
//@include sp($point-sp) {}
//@include tb($point-tb) {}
//@include pc($point-pc) {}
//
//

$point-sp: 767px;
$point-tb: 768px;
$point-pc: 992px;

@mixin sp($point-sp) {
  @media screen and (max-width: $point-sp) {
    @content;
  }
}

@mixin tb($point-tb) {
  @media screen and (min-width: $point-tb) {
    @content;
  }
}

@mixin pc($point-pc) {
  @media screen and (min-width: $point-pc) {
    @content;
  }
}


//@include clearfix;
@mixin clearfix {
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

// @include ov;
@mixin ov {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.7;
    img {
      background-color: rgba(#fff, 0.01);
    }
  }
}

// @include ovImg;
@mixin ovImg {
  background: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}

//@include kadomaru(6px);
@mixin kadomaru($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  -ms-border-radius: $radius;
}

//@include font-googleEN;
@mixin font-googleEN {
  font-family: "Playfair Display", serif;
}

//@include font-JP;
@mixin font-JP {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

//@include PCsiteWidth;
@mixin PCsiteWidth {
  margin: 0 auto;
  width: 1048px;
  @include sp($point-sp) {
    width: 100%;
  }
}

//@include boxSizing;
@mixin boxSizing {
  box-sizing: border-box;
}

//SP ★
//@include SPsiteWidth;
@mixin SPsiteWidth {
  width: 100%;
  @include boxSizing;
}
